body{
    background-color: white;
}

.linha1{
    color: blue;
    font-size: 20px;
    size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.linha2{
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    left: 750px;
    position: relative;
}