*{
    margin: 0 auto; /*zera a margem de todos os elementos*/
}
body{
    background: #000;
}
#wrapper{
    width: 1100px;
    background: #11e9ed;
}
/* posso colocar mais de uma propiedade no mesmo seletor */
header, footer{
    width: 1100px;
    height: 200px;
    background: #fa004b;
}
footer{
    background color:rgb(255, 0, 0);
    clear: both; /*limpa os floats e elementos*/
    margin-top: 20px;
}

#carrosel{
    width: 1100px;
    height: 400px;
    background: #53fa00;
    margin-bottom: 20px;
}

.content{
    width: 1080px;
    border: 1px dashed #fff;    
    margin-left: 20px;
}

.products{
    width: 248px;
    height: 298px;
    background: #fae800;
    border: 1px solid black;
    float: left;
    margin: 0px 20px 20px 0px;

}
.menuHorizontal{
    width: 500px;
    height: 149px;
    background-color: red;
    border: 1px solid black;
}
.menuHorizontal ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.menuHorizontal ul li{
    height: 29px;
    border-bottom: 1px solid black;
}
.menuHorizontal ul li a{
    text-decoration: none;
    color: white;
    border-left: 8px solid aqua;
    padding-left:10px;
    line-height: 29px;
    display: block;
}
.menuHorizontal ul li a:hover{
    background-color: aqua;
    color: black;
    border-left: 8px solid red;
}